@font-face {
  font-family: "Academ";
  src: url("../fonts/Academ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Timewatch";
  src: url("../fonts/Timewatch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*:focus {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: "Academ", sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  color: #FFBF40;
}

.section-timemove {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-timemove div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Timewatch", sans-serif;
  background: linear-gradient(#cca78d, #cd9a7b);
  color: #2de8dd;
  border-radius: 0.5rem;
  box-shadow: 1vh 1vh 0.5vh rgba(20, 20, 20, 0.8);
}

.section-timemove time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Timewatch", sans-serif;
  background: linear-gradient(#cca78d, #cd9a7b);
  color: #2de8dd;
  border-radius: 0.5rem;
  box-shadow: 1vh 1vh 0.5vh rgba(20, 20, 20, 0.8);
}

.section-timemove time span {
  font-family: "Timewatch", "Academ", sans-serif;
}

.game-popup-button {
  background-image: url('../images/name-author.png');
  background-size: cover;
  text-align: center;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 115, 115, 0.7);
  background-image: url('../images/overlay.png');
  background-size: cover;
  border-style: solid;
  border-image: url('../images/border.png') 1000;
  border-image-width: 100%;
  box-shadow: 0 1.2vh 0.7vh rgba(20, 20, 20, 0.8);
}

.game-popup-button:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-menu li:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-puzzle {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}

.game-puzzle li {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(166, 111, 0, 0.3);
  border: 1px solid #754F04;
  border-radius: 1px;

  transition: all 0.5s;
}

.game-puzzle li:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}

.game-popup ul li:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-puzzle .empty-mosaic {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.game-puzzle .empty-mosaic:hover {
  background-color: rgba(255, 255, 255, 0);
}

.game-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.game-load li:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-scores li:last-child {
  margin: 0 auto;
}

.game-scores li:last-child:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-settings li {
  text-align: center;
}

.game-settings li select {
  color: #FFBF40;
}

.game-settings .game-settings-select {
  width: 3em;
  margin-top: 1vw;
}

.game-settings-select option {
  font-size: 0.6em;
}

.game-settings li:last-child {
  margin-top: 4vw;
}

.game-settings li:last-child:hover {
  color: #FFE773;
  cursor: pointer;
}

.game-puzzle .opacity-none {
  opacity: 0;
}

.display-none {
  display: none;
}

.blackout {
  position: fixed;
  background: rgba(41, 41, 41, 0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 10;
  pointer-events: all;
}

.section-win a:hover {
  color: #FFE773;
  cursor: pointer;
}

.section-win {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  z-index: 11;
  background-image: url('../images/win-board.png');
  background-size: cover;
  animation: win 3s linear;
  transform-origin: center top;
}

.section-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #2de8dd;
}

.section-ul li:last-child:hover {
  cursor: pointer;
  color: #2c9992f5;
}

@keyframes win {
  0% {
    transform: rotate(-90deg);
  }

  5% {
    transform: rotate(-67.5deg);
  }

  10% {
    transform: rotate(-45deg);
  }

  15% {
    transform: rotate(-22.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(22.5deg);
  }

  30% {
    transform: rotate(45deg);
  }

  35% {
    transform: rotate(22.5deg);
  }

  40% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-11.25deg);
  }

  50% {
    transform: rotate(-22.5deg);
  }

  55% {
    transform: rotate(-11.25deg);
  }

  60% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(5.625deg);
  }

  70% {
    transform: rotate(11.25deg);
  }

  75% {
    transform: rotate(5.625deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(-2.8125deg);
  }

  90% {
    transform: rotate(-5.625deg);
  }

  95% {
    transform: rotate(-2.8125deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*.game-settings li:nth-child(2) {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.game-settings li:nth-child(2):before,
.game-settings li:nth-child(2):after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.game-settings li:nth-child(2):before {
  border-bottom-style: solid;
  border-top: none;
}

.game-settings li:nth-child(2):after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.game-settings li:nth-child(2) {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.game-settings li:nth-child(2):before {
  border-bottom-color: #aaa;
}

.game-settings li:nth-child(2):after {
  border-top-color: #aaa;
}

.game-settings li:nth-child(2) .game-settings-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;
}

.game-settings li:nth-child(2) .game-settings-select:focus {
  color: #ccc;
}

.game-settings li:nth-child(2) .game-settings-select>option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}